.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e01865;
  color: white;
  position: relative;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.back-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
